.blog {
  background: var(--clr-grey-10);
}

.card {
  height: 27rem;
  position: relative;
  perspective: 1500px;
}
.card-side {
  backface-visibility: hidden;
  transition: all 2s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.card-front {
  background: var(--clr-white);
}

.card-back {
  transform: rotateY(180deg);
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0deg);
}
.card-front img {
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.card-footer img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
}
.card-footer p {
  margin-bottom: 0;
  text-transform: uppercase;
  justify-self: end;
  color: var(--clr-primary-5);
  font-size: 0.5rem;
}

.card-info {
  padding: 1rem 1.5rem;
}

.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}