.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.nav-title {
  margin-bottom: auto;
  
}
.nav-btn{
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-self: end;
  }
  .nav-links .link{
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-links .link:hover {
    color: var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
} 
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  z-index: 2;
  box-shadow: var(--light-shadow);
}
TODO 
.first-name{
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.3)
}
.last-name{
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  color: var(--clr-primary-5);
}